* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
  scroll-behavior: smooth;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.6rem;
}
.header__logo p {
  font-size: 2.4rem;
  font-weight: bold;
  color: #333333;
}
.header__open button {
  border: none;
  outline: none;
  background: none;
}
.header__nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #f2f2f2;
}
.header__nav ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__nav ul li {
  margin-bottom: 1.6rem;
  text-align: center;
  list-style: none;
}
.header__nav ul li a {
  font-size: 2.4rem;
  color: #333333;
  text-decoration: none;
}

.header__open button:hover {
  cursor: pointer;
}
.header__nav ul li:hover a {
  color: #2d9cdb;
  text-decoration: underline;
  cursor: pointer;
}

.main {
  margin-top: 4.8rem;
}
.main__container {
  padding: 0 10%;
}
.main__message {
  font-size: 1.2rem;
  font-weight: 500;
  color: #2d9cdb;
}
.main__title, .main__subtitle {
  margin-bottom: 1.6rem;
  font-size: 2.4rem;
  font-weight: 500;
  color: #333333;
}
.main__figure {
  width: 100%;
}
.main__figure img {
  width: 100%;
  border-radius: 1.6rem;
}
.main__subtitle {
  margin-top: 1.6rem;
}
.main__text {
  margin-bottom: 3.2rem;
  text-align: 1.2rem;
  color: #4f4f4f;
}

.form {
  position: relative;
  width: 29rem;
}
.form__label {
  display: block;
  margin-bottom: 0.8rem;
}
.form__text {
  width: 100%;
  height: 5rem;
  padding-left: 1.6rem;
  border: none;
  border-radius: 1.2rem;
  background-color: #f2f2f2;
  outline: none;
}
.form__text::placeholder {
  font-size: 1.6rem;
}
.form__button {
  position: absolute;
  top: 2.8rem;
  right: 0.5rem;
  width: 8rem;
  height: 4rem;
  font-size: 1.6rem;
  border-radius: 1.2rem;
  color: #ffffff;
  background-color: #2d9cdb;
  outline: none;
  border: none;
}
.form__button:hover {
  background-color: #2d9bdbab;
  cursor: pointer;
}

.services {
  margin-top: 9.6rem;
}
.services__title {
  width: 25.9rem;
  font-size: 2.4rem;
  font-weight: 500;
  color: #333333;
}
.services__container {
  margin-top: 2.4rem;
}
.services__item {
  width: 31rem;
  height: 27rem;
  margin: 0 auto;
  padding: 2.5rem;
  margin-bottom: 3.2rem;
}
.services__figure {
  width: 3.4rem;
  height: 3.4rem;
  margin-bottom: 2.4rem;
  border-radius: 0.8rem;
}
.services__figure img {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}
.services .img__one {
  background: #2d9cdb;
}
.services .img__two {
  background: #27ae60;
}
.services .img__three {
  background: #eb5757;
}
.services__subtitle {
  margin-bottom: 2.4rem;
  font-size: 1.6rem;
  color: #333333;
}
.services__text {
  width: auto;
  margin-bottom: 2.4rem;
}
.services__button {
  display: block;
  width: 11.6rem;
  height: 4.2rem;
  border: none;
  border-radius: 0.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #828282;
  background-color: #f2f2f2;
  outline: none;
}

.services__item:hover {
  box-shadow: 0 0.5rem 3rem #bdbdbd;
  border-radius: 2.4rem;
  cursor: pointer;
}
.services__item:hover .services__button {
  color: #ffffff;
  background-color: #2d9cdb;
  cursor: pointer;
}

.ourWork {
  margin-top: 9.6rem;
}
.ourWork__title {
  width: 27rem;
  margin-bottom: 4.8rem;
  font-size: 2.4rem;
  font-weight: 500;
}
.ourWork__container {
  display: grid;
  grid-template-columns: repeat(1, minmax(22rem, 42rem));
  justify-content: center;
  gap: 3.6rem;
  width: 100%;
  margin-bottom: 2.4rem;
}
.ourWork__item img {
  width: 100%;
  border-radius: 2.4rem;
}
.ourWork__type {
  display: block;
  margin-top: 1.6rem;
  font-size: 1.2rem;
  color: #828282;
}
.ourWork__subtitle {
  font-size: 1.8rem;
  font-weight: 500;
  color: #333333;
}
.ourWork__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 11rem;
  height: 3rem;
  padding: 0.4rem;
}
.ourWork__button button {
  border: none;
  font-size: 1.8rem;
  color: #2d9cdb;
  background: none;
  outline: none;
}

.ourWork__button:hover {
  border: 0.1rem dashed #eb5757;
  cursor: pointer;
}
.ourWork__button:hover button:hover {
  cursor: pointer;
}

.team {
  margin-top: 9.6rem;
}
.team__item-text {
  width: 28rem;
  margin-bottom: 3.6rem;
}
.team__subtitle {
  margin-bottom: 0.8rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: #eb5757;
}
.team__title {
  margin-bottom: 0.8rem;
  font-size: 2.4em;
  font-weight: 500;
}
.team__p {
  width: 26rem;
  font-size: 1.6rem;
  color: #4f4f4f;
}
.team__item-img {
  width: 280px;
}
.team__item-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0 1.2rem;
  width: 100%;
}
.team .figure__one {
  width: 100%;
  grid-row: 1/3;
  align-self: center;
}
.team .figure__two {
  width: 100%;
}
.team .figure__three {
  width: 100%;
  grid-column: 2/3;
}
.team .figure__one,
.team .figure__two,
.team .figure__three {
  place-self: center;
}
.team .figure__one img {
  width: 100%;
}
.team .figure__two img {
  width: 80%;
}
.team .figure__three img {
  width: 90%;
}
.team .figure__one img,
.team .figure__two img,
.team .figure__three img {
  border-radius: 2.4rem;
}

.opinion {
  margin-top: 9.6rem;
}
.opinion__quote {
  margin-bottom: 3.2rem;
  font-size: 2.4rem;
  font-weight: 500;
  color: #333333;
}
.opinion__container {
  display: flex;
  align-items: center;
  gap: 0 2.4rem;
}
.opinion__person {
  width: 8rem;
}
.opinion__person img {
  width: 100%;
  border-radius: 1.2rem;
}
.opinion__name {
  margin-bottom: 1.2rem;
  font-size: 2.4rem;
  color: #333333;
}
.opinion__position {
  font-size: 1.8rem;
  color: #828282;
}

.footer {
  position: absolute;
  left: 0;
  width: 100%;
  margin-top: 9.6rem;
  padding: 2.4rem 5%;
  background-color: #100e1d;
}
.footer__list {
  width: 10rem;
  margin-bottom: 2.4rem;
  list-style: none;
}
.footer__list li {
  margin-bottom: 0.8rem;
}
.footer__list li a {
  font-size: 1.8rem;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}
.footer__list li:hover a {
  color: #eb5757;
}
.footer__social {
  margin-bottom: 2.4rem;
}
.footer__social p {
  font-size: 3.6rem;
  color: #ffffff;
}
.footer__social img {
  display: inline-block;
  margin-right: 0.8rem;
  border-radius: 0.2rem;
}
.footer__social img:hover {
  cursor: pointer;
}
.footer form label {
  color: white;
}
.footer__created {
  margin-top: 3.6rem;
  font-size: 1.4rem;
  text-align: center;
  color: #ffffff;
}
.footer__created a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}
.footer__created a:hover {
  text-decoration: underline;
  color: #eb5757;
}

/*# sourceMappingURL=styles.css.map */
