// Font
$font: "Poppins", sans-serif;

//Colors
$gray-one: #333333;
$gray-two: #4f4f4f;
$gray-three: #828282;
$gray-four: #bdbdbd;
$gray-five: #f2f2f2;
$background: #100e1d;
$white: #ffffff;
$bg-red: #eb5757;
$bg-blue: #2d9cdb;
$bg-green: #27ae60;
